div#vehicle-list {
  width: 350px;
  border: 1px solid var(--outer-border-color);
}
h3 {
  border: 1px solid var(--outer-border-color);
  padding: 0.5em;
  background: var(--title-bg-color);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0.8em;
}
li a {
  text-align: center;
  padding: 0.5em;
  border: 1px solid var(--list-border-color);
  display: block;
  cursor: pointer;
}
li a:hover {
  background-color: var(--background-color);
}
.flex-section {
  display: flex;
  gap: 1em;
}
