div#vehicle-list {
  width: 350px;
  border: 1px solid #dcdcdc;
}
h3 {
  border: 1px solid #dcdcdc;
  padding: 0.5em;
  background: #f6f6f6;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0.8em;
}
li a {
  text-align: center;
  padding: 0.5em;
  border: 1px solid #eee;
  display: block;
  cursor: pointer;
}
li a:hover {
  background-color: #f6f6f6;
}
.flex-section {
  display: flex;
  gap: 1em;
}
